* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
}
.Cabezera {
  display: flex;
  align-items: center;
  background-color: beige;
  height: 60px;
  width: 100%;
}

.Cabezera a {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
 box-sizing: border-box;
 border: 2px solid white;
}
